{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>My name is David Lopez and the ojbective is to navigate throught the Django/Template created via Visual Studio 2022.  The title and message above is defined in the Route using a definition where the 'title' will be used through the route as 'about' and the 'message will be used through the route as a 'Default message created via route which can be referenced in the DOM with curly braces.'  </p>
<p>Dictionaries are used to store data values in key:value pairs. It is a collection which is ordered, changeable and do not allow duplicates.  We can now call on the value using the key.
</p>

{% endblock %}
